.margin_purpule_man{
	margin-left: 200px;
	margin-right: 50px;
}

.myheader {
  margin: 0 auto;
  background-image: url(../images/header.png);
  background-size: cover;
  width: 1722px;
  height: 1027px;
}

.rectangle{
	width: 280px;
	height: 280px;
	margin-right: 10px;
	margin-left: 10px;
}

.big_rectangle{
	width: 550px;
	height: 550px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top:  130px;
}

.red{background: #ff2b4a;}
.dark{background: #002453;}
.purpule{background: #835aeb;}
.blue{background: #10c6fc;}
.big_rectangle_color{background: #55657d;}

.left_flow {
  margin-top: 70px ;
  margin-left: 200px ;
  float: left;
}
.right_flow{
  margin-top: 70px;
  margin-right: 200px;
  float: right;
}

.mycontainer {
  margin: 0 auto;
  width: 1722px;
  background-color:  transparent;
}

.button{
	background-color: red;
	color: white;
	border:  none;
	margin-top:  40px;
}



.vertical_flex_with_padding {
  padding: 20% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:  transparent;
  height: 60%;
 
}

.horizontal_flex {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  background-color:  transparent;
}

.horizontal_flex_for_rectangle {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
 }

.vectical_flex_for_rectangle {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
 }

.vertical_flex{
  margin-top: 50px;
  text-align: left;
}

.green_section{
  margin-top: 50px;
  text-align: left;
  height:  700px;
  background-color: #64cbc0;
}


.big_font{
	 font-size: 65px;
	 text-transform: uppercase;
	 color: white;
	 font-family: 'Raleway';
	 font-weight: bold;
	 border-top: 1px solid white;
	 border-bottom: 1px solid white;
	 line-height: 110px;
	 letter-spacing: 6px;
}
.regular_text{
	font-family: 'Roboto';
	line-height: 28px;
	font-size:  16px;
}
.regular_text_raleway{
	font-family: 'Raleway';
	font-size:  16px;
	color: white;
	text-transform: uppercase;
}

.intro_font{
	font-size: 18px;
	color: #444;
	font-family: 'Roboto';
	font-weight: bold;
}

.intro_margin{
	margin-top: 40px;
	margin-bottom: 0px;
	margin-right: 300px;
}

.small_font_tegs{
	 font-size: 25px;
	 color: #ccc;
	  font-family: 'Roboto';
}

.working_proccess_font{
	margin-top:  120px;
	font-size: 40px;
	font-family: 'Roboto';
	font-weight: bold;
}



.gray_part{
	background-color: #f6f6f6;
	height: 660px;
	display: flex;
  	flex-direction: column;
  	align-items:center;
}